* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    width: 360px;

    min-height: 450px;

    background: #050b14;

    color: white;

    font-family: Arial, sans-serif;
}

.container {
    padding: 22px;
}


/* =========================
   HEADER
========================= */

.header {
    display: flex;

    align-items: center;

    gap: 13px;
}

.logo {
    width: 48px;
    height: 48px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-radius: 12px;

    background: #071d2b;

    font-size: 27px;

    border: 1px solid #16435b;
}

.header h1 {
    color: #00e5ff;

    font-size: 22px;
}

.header p {
    color: #718596;

    font-size: 12px;

    margin-top: 2px;
}


/* =========================
   STATUS
========================= */

.status {
    margin-top: 18px;

    padding: 9px 12px;

    border-radius: 8px;

    background: #071a16;

    border: 1px solid #124738;

    color: #67e8b0;

    font-size: 12px;
}

.dot {
    display: inline-block;

    width: 7px;
    height: 7px;

    border-radius: 50%;

    background: #00ff88;

    box-shadow:
        0 0 8px #00ff88;

    margin-right: 5px;
}


/* =========================
   SEPARATOR
========================= */

.separator {
    height: 1px;

    background: #17304a;

    margin: 20px 0;
}


/* =========================
   INPUT
========================= */

h2 {
    font-size: 16px;

    margin-bottom: 10px;

    color: #dbe8f1;
}

input {
    width: 100%;

    padding: 13px;

    border-radius: 8px;

    border: 1px solid #1b3b52;

    outline: none;

    background: #08121d;

    color: white;

    font-size: 14px;
}

input:focus {
    border-color: #00e5ff;

    box-shadow:
        0 0 10px rgba(
            0,
            229,
            255,
            0.12
        );
}


/* =========================
   BUTTON
========================= */

button {
    width: 100%;

    margin-top: 10px;

    padding: 13px;

    border: none;

    border-radius: 8px;

    background: #00e5ff;

    color: #001018;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

button:hover {
    background: #35ecff;

    transform: translateY(-1px);
}


/* =========================
   RESULT
========================= */

#result {
    min-height: 45px;

    margin-top: 15px;

    padding: 12px;

    border-radius: 8px;

    background: #08121d;

    border: 1px solid #17304a;

    color: #9eb1c2;

    font-size: 13px;

    line-height: 1.5;
}


/* =========================
   INFO
========================= */

.info {
    display: flex;

    flex-direction: column;

    gap: 7px;

    margin-top: 20px;

    color: #708596;

    font-size: 11px;
}


/* =========================
   FOOTER
========================= */

.footer {
    margin-top: 25px;

    text-align: center;

    color: #435767;

    font-size: 10px;
}
